body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}

.btn {
    text-decoration: none;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-delete {
    background-color: #dc3545;
}
