<!-- {% extends "base.html" %}

{% load plotly_dash %}  
{% load static %}

{% block title %}Dash App{% endblock %}

{% block content %}
<head>
    <title>Dash in Django</title>
    {% load plotly_dash %}
    {% plotly_header %}
    <link rel="stylesheet" href="{% static 'styles/dash.css' %}">
</head>
<div class="container">
    <header>
        <h1>Dash App</h1>
    </header>
    <div id="container_iframe">
        {% plotly_app name="AnimeDashboard" ratio=1.171%}
        <div class="mx-auto mt-4">
            <a href="{% url 'purchase_history' %}" class="dash-button">
                📜 ดูประวัติการสั่งซื้อ
            </a>
        </div>
        {% plotly_footer %}
    </div>
</div>
{% endblock %} -->